<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Some title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


<h1>Configuration</h1>
<p>
    <a href="/config">Setup</a>
</p>


<!--<h1>Generate Contracts</h1>-->
<!--<p>-->
    <!--<a href="/builds/new">Validate or Generate Data from SEAL</a>-->
<!--</p>-->


<h1>Contracts</h1>
<p>
    <a href="/builds/history/items">Contracts</a>
</p>

<h1>Admin</h1>
<p>
    <a href="/admin">Admin</a>
</p>

</body>
</html>